.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,
                           'wght' 400,
                           'GRAD' 0,
                           'opsz' 24;
}

input[type='checkbox']:checked {
  background-color: #ec3e13 !important;
  border-color: #ec3e13 !important;
}
